#menu {
  width:  800px;
  margin: 0px 10px 10px;
  height: 3px; 
}

#menu div {
  width:  800px;
  margin: 0px 2px 2px;
  height: 33px; 
}

html>body #menu div {
  width:  800px;
  margin: 15px 0px 0px;
  height: 40px; 
}

#menu a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #111111;
  font-size: 11px;
  text-decoration: none;
}

#menu a.divisoria {
  color: #B22222;
  border: 1px solid #BEBEBE;
  font-weight: bold;
  display: block;
  height: 15px;
  padding-top: 1px;
  background-position: 4px 8px;
  padding-left: 14px;
  padding-bottom: 1px;  
  margin: 2px 0px 0px;
  padding-left:1px;
  padding-top:5px;
  padding-bottom:1px;
  height: 32px;
}

#menu a:hover {
  color: #000000; 
  text-decoration: underline;
}

html>body #menu a.divisoria {
  margin: 6px 1px -1px;
}

#menu a.divisoria:hover {
  text-decoration:none;
}

#resposta {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #111111;
  font-size: 11px;
  text-decoration: none;
}

#destaque {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #ff0000;
  font-size: 12px;
  text-decoration: none;
}

td.faqH2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 24px; 
  font-weight: bold;
  color: black;   
}

td.faqH3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18.5px; 
  font-weight: bold;
  color: black;   
}

td.faqH4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px; 
  font-weight: bold;
  color: black;   
}

font.email {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: italic; 
  font-weight: bold;
  color: gray;  
  text-decoration: underline;
}
