.jqiwarning .jqi { background-color: #F2F2F2; }
.jqifade { position: absolute; background-color: #333333; }
div.jqi { position: absolute; background-color: #000000; padding: 1px; width: 350px; text-align: left; }
div.jqi .jqiclose { display: none; }
div.jqi .jqicontainer { background-color: #F2F2F2; padding: 5px; color: #000000; font-weight: bold; }
div.jqi .jqimessage { background-color: #CCCCCC; padding: 10px; }
div.jqi .jqimessage .field { padding: 5px 0; }
div.jqi .jqimessage .field label { display: block; clear: left; float: left; width: 100px; }
div.jqi .jqimessage .field input { width: 150px; border: solid 1px #777777; }
div.jqi .jqimessage .field input.error { width: 150px; border: solid 1px #ff0000; }
div.jqi .jqimessage .field textarea { width: 300px; border: solid 1px #777777; }
div.jqi .jqimessage .field textarea.error { width: 300px; border: solid 1px #ff0000; }
div.jqi .jqibuttons { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  padding: 2px 0 0 0;
}
div.jqi button { padding: 3px 10px 3px 10px; margin: 0 10px; }