body {
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #555;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    visibility: hidden;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Verdana, Arial;
    font-size: 15px;
    color: #FFF;
    display: flex;
    transition: 0.3s;
}

.item-menu:hover {
    color: #f1f1f1;
    font-weight: bold;
    background-color: #111;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    background-color: #555;
}

.sidenav .sortbtn {
    position: absolute;
    top: 10px;
    font-size: 20px;
    margin-left: 25px;
}

.sidenav .sortbtn:hover {
    background-color: #555;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.icon-bar {
    width: 50px;
    background-color: #555;
    float: left;
    position: fixed;
    top: 1;
    left: 1;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.sidenav .star-icon {
    padding-right: 5px;
    color: #f4c500;
}

.sidenav .star-icon:hover {
    color: #f4c500;
    font-weight: bold;
}

.sidenav .link-menu {
    padding-left: 5px;
}