table.tablesorter {
    width: 100%;
    align: center;
    border-spacing: 1px;
    padding: 0px;
}
table.tablesorter thead tr .header {
    background-image: url(../js/sorter/bg.gif);
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
    padding-left: 20px; 
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../js/sorter/asc.gif);
    background-color: #808080;
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../js/sorter/desc.gif);
    background-color: #808080;
}
table.tablesorter tbody tr.odd td {
    background-color: #FFFFFF;
}
table.tablesorter tbody tr.even td {
    background-color: #DDDDDD;
}
