body{
    background-color:#cfcce6 !important;
    font-family: 'Montserrat', sans-serif;
}
h1{
    width: 42vh;
}
main{
    display: flex !important;
    flex-direction: row !important;
    width: 99vw !important;
}
header{
    display: flex !important;
    align-items: center !important;
    margin-top: 50px;
}
label{
    margin-bottom: 30px !important;
    font-weight: 700 !important;
    font-size: 1.6rem;
}
section {
    display: flex;
    flex-direction: column;
}
.main-title{
    font-size: 1.6rem;
    font-weight: 700;
}
.hello-style{
    font-size: 3rem;
    font-weight: 700;
    color:#690f92;
}
.page-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddddec;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-top: 15vh;
    border-radius: 20px;
    margin-left: 5vh;
    margin-right: 5vh;
}
.page-image img{
    max-width: 80%;
    height: auto;
    object-fit: contain;
    display: block;
}
.page-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 5vh 0 2vh;
}
.page-presentation{
    display: flex;
    align-items: center;
}

.page-logo-econsig svg{
    width: 100%;
    height: auto;
    display: block;
}

.page-logo-partner{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 18vh;
    padding-left: 0;
}
.page-logo-partner img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-indicators {
    margin-bottom: 2rem;
}

.btn-actions{
    display: flex;
}
.card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 120px;
    border: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    transition: .5s;
    text-decoration: none;
    margin-left: 10px;
}
.btn-actions a:hover{
    text-decoration: none !important;
}
.card-btn svg{
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.grid-center{
    height: 2vw;
}
.grid-top{
    height: 2vw;
}
.btn-icon{
    width: 40%;
}
.btn-icon svg{
    margin-top: 40px;
    margin-left: 20px;
}
.btn-text{
    margin-top: 10px;
    width: 60%;
}
.card-btn:not(:last-child){
    margin-right: 50px;
}
.card-btn-wine{
    background-color: #690f92;
    color:#fff !important;
}
.card-btn-wine svg{
    color: #690f92;
}
.card-btn-white{
    background-color: #FFFFFF;
    color:#690f92 !important;
    margin-left: 30px;
}
.card-btn-wine:hover{
    background-color: #7f2deb;
    color:#fff !important;
}
.card-btn-white:hover{
    background-color: #f0f0f0;
}
.division{
    width: 100%;
    border: 2px solid #e6e6e7;
}

svg.logo {
    width: 200px;
    height: auto;
}

.text-button{
    font-weight: 600 !important;
}
.text-button-ou{
    font-weight: 500 !important;
}
#carouselIndicators{
    width: 100%;
    height: 35vh;
}

.msg-title{
    font-size: 1.125rem;
    font-weight: 550 !important;
    letter-spacing: -.025rem;
    margin: 0 0 .25rem !important;
}

.carousel-item{
    height: 450px;
    text-align: center;
}
.carousel-item ul {
    display: table;
    margin: 0 auto;
}

.carousel-item ol {
    display: table;
    margin: 0 auto;
}
.carousel-item p{
    text-align: center;
}

.carousel-item img{
    align-items: center;
    max-height: 350px;
    max-width: 650px;
    border: 0;
    padding: 15px 15px 15px 15px;
}

/*subscrita das classes de caroussel do booststrap 4*/
.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #E63888 !important;
    border-radius: 100% !important;
    background-color: #E63888 !important;
}

.carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 12px !important;
}

.carousel-indicators li.active {
    background-color: #fff !important;
}

/*responsividade*/
@media (max-width: 992px){
    body{
        display: flex !important;
        justify-content: center !important;
        overflow: unset;
        height: 100% !important;
        margin: 0;
        padding: 0;
    }
    main{
        flex-direction: column !important;
        justify-content: center !important;
        position:absolute;
        top:0;
    }
    section{
        width: 100%;
        display: flex !important;
        align-items: center !important;
    }
    header{
        flex-direction: column !important;
        justify-content: center !important;
    }
    .grid-center{
        height: 13vw;
    }
    .grid-top{
        height: 6vw;
    }
    .page-content{
        width: 100%;
    }
    .page-content{
        width: 100%;
    }
    .page-image{
        display: none;
    }
    .page-presentation{
        justify-content: space-between;
    }
    .page-logo-econsig{
        text-align: center;
    }
    .page-logo-partner{
        text-align: center;
        padding-left: 0;
    }
    .division, .page-slide{
        width: 100% !important;
    }
    .page-slide{
        margin-left: 0;
    }
    .carousel-item{
        height: 320px;
    }
    .carousel-item img{
        max-height: 280px;
    }
    #carouselIndicators{
        width: 100%;
    }
}
@media (max-width: 768px){
    body{
        overflow: unset;
    }
    .page-presentation{
        margin-top: 1rem;
    }
    .grid-center{
        height: 4vw;
    }
    .grid-top{
        height: 2vw;
    }
    .carousel-item{
        height: 300px;
    }
    .carousel-item img{
        max-height: 250px;
    }
    .btn-actions{
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    .card-btn{
        margin: 21px 0;
    }
    .card-btn:not(:last-child){
        margin-right: 0;
    }
    #carouselIndicators{
        width: 100%;
    }
}
@media (max-height: 650px) {
    .carousel-item img{
        max-height: 50vh;
    }
    #carouselIndicators{
        width: 100%;
        height: 75vh;
    }
}